* {
  margin: 0;
  padding: 0;
}
.container {
  height: 97vh;
  width: 99vw;
  background-color: #fcfce7;
  background-image: url(../../../assets/enter/image/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
